[submodule "ros_ws/src/libpredict"]
	path = ros_ws/src/libpredict
	url = git@github.com:Darkjrcy/libpredict.git
[submodule "ros_ws/src/gnss_multipath_plugin"]
	path = ros_ws/src/gnss_multipath_plugin
	url = https://github.com/Darkjrcy/gnss_multipath_plugin.git
	branch = Migration2GazeboSim_Garden
